.navbar {
  background: unset;
  box-shadow: unset;
  transition: all 0.5s ease 0s;
  top: 0;
  border-width: 0 0 1px;
  border-radius: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;

  &.transition {
    transition: all 0.5s ease 0s;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 10px;

    .nav-top {
      position: relative;
      top: -3rem;
      margin-bottom: -3rem;
      opacity: 0;
    }
  }

  .nav-top {
    padding: 1rem 0;
    border-bottom: 1px solid rgba(136, 136, 136, 0.15);
    transition: all 0.5s ease 0s;
    position: relative;
    top: 0rem;

    .nav-contact {
      list-style: none;
      display: flex;
      justify-content: space-between;
      padding-right: 5rem;
      padding-left: 5rem;
      margin: auto;
      max-width: 1500px;

      li {
        font-weight: 400;
        color: grey;

        span {
          color: black;
          font-weight: 500;
        }
      }
    }
  }

  .nav-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    padding-right: 5rem;
    padding-left: 5rem;
    margin: auto;
    max-width: 1500px;

    .nav-links {
      position: relative;
      // padding-top: 3rem;
      display: flex;
      list-style: none;

      .nav-item {
        margin-left: 4rem;
        position: relative;

        a {
          text-decoration: none;
          position: relative;
          display: block;
          line-height: 20px;
          color: black;
          font-size: 1.4rem;

          &:before {
            content: "";
            position: absolute;
            bottom: -0.4rem;
            left: -0.4rem;
            width: 2.5rem;
            height: 2px;
            background: black;
            z-index: 2000;
            transition: all 0.3s ease;
            opacity: 0;
          }
          &:hover::before {
            left: 0;
            opacity: 1;
          }
        }

        .active {
          font-weight: 600;
          &::before {
            left: 0;
            opacity: 1;
          }
        }
      }
      &:first-child {
        .nav-item {
          margin-right: 4rem;
          margin-left: 0;
        }
      }
    }
    .nav-logo {
      img {
        height: 6rem;
      }
    }
  }
}

// Small Devices
// ---------------------------------------- //
@media screen and (max-width: 899px) {
  .navbar {
    .nav-top {
      .nav-contact {
        padding-right: 3rem;
        padding-left: 3rem;
      }
    }
    .nav-bottom {
      padding-right: 3rem;
      padding-left: 3rem;

      .nav-links {
        .nav-item {
          margin-left: 3rem;

          a {
            font-size: 1.2rem;
          }
        }
        &:first-child {
          .nav-item {
            margin-right: 3rem;
          }
        }
      }
      .nav-logo {
        img {
          height: 4rem;
        }
      }
    }
  }
}
