.about-intro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;

  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 4rem;
    width: 100%;
    .author-container {
      display: flex;
      margin-bottom: 1rem;
      .author-pic {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        border: #f5e7e6 4px solid;
        overflow: hidden;
        margin-right: 3rem;
        flex-shrink: 0;

        img {
          object-fit: cover;
          object-position: cover;
          width: 100%;
          height: 100%;
        }
      }

      .author-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
          font-family: Poppins;
          font-weight: 400;
          font-size: 1.4rem;
          color: #4e4e4e;
        }

        h2 {
          font-family: Abril Fatface;
          font-weight: 400;
          font-size: 2.2rem;
          color: black;
          margin-top: 0;
        }
      }
    }

    .links-social {
      font-size: 1rem;
      margin-top: 1rem;

      span {
        padding-right: 1rem;

        img {
          height: 1rem;
          cursor: pointer;

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }

  .img-about {
    width: 100%;
  }
}

.services {
  width: 100%;
  h1 {
    font-family: Abril Fatface;
    font-weight: 400;
    font-size: 5rem;
    color: black;
    margin-bottom: 0;
    text-align: center;
  }

  h2 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.4rem;
    color: black;
    text-align: center;
    margin-top: 1rem;
  }

  .services-container {
    width: 100%;
    position: relative;

    & > img {
      width: 100%;
    }

    .services-content {
      position: absolute;
      width: 100%;
      top: 10rem;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      display: flex;
      justify-content: space-between;
      .service {
        width: 100%;
        margin-left: 3rem;
        text-decoration: none;

        &:first-child {
          margin-left: 0;
        }
        div {
          width: 100%;
          height: 350px;
          background-color: #f4f4f4;
        }
      }
    }
  }
}

.seemore-wrapper {
  h1 {
    font-family: Abril Fatface;
    font-weight: 400;
    font-size: 5rem;
    color: black;
    margin-bottom: 0;
    text-align: center;
  }
  .seemore-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
    margin-top: 5rem;

    .seemore-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding-top: 3rem;
      padding-bottom: 3rem;
      text-decoration: none;

      h1 {
        font-family: Poppins;
        font-weight: 600;
        font-size: 2rem;
        color: black;
        text-align: center;
        margin-bottom: 5px;
      }

      h2 {
        font-family: Poppins;
        font-weight: 400;
        font-size: 1.4rem;
        color: black;
        text-align: center;
        margin-top: 0;
      }

      img {
        height: 5rem;
        margin-bottom: 2rem;
      }

      &:nth-child(1) {
        background-color: #f5e7e6;
      }
      &:nth-child(2) {
        background-color: #f4f4f4;
        margin-left: 3rem;
      }
      &:nth-child(3) {
        background-color: #dce7ed;
        margin-left: 3rem;
      }
    }
  }
}

// Small Devices
// ---------------------------------------- //
@media screen and (max-width: 899px) {
  .about-intro {
    flex-direction: column;

    .welcome {
      margin-bottom: 5rem;
      .author-container {
        margin-bottom: 2rem;

        .author-info {
          h1 {
            font-size: 1rem;
          }

          h2 {
            font-size: 2rem;
          }
        }
      }

      .links-social {
        margin-top: 1rem;
        font-size: 1.2rem;

        span {
          padding-right: 3rem;

          img {
            height: 1.1rem;
          }
        }
      }
    }

    .img-about {
      width: 100%;
    }
  }

  .services {
    .services-container {
      .services-content {
        .service {
          div {
            height: 250px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 699px) {
  .services {
    .services-container {
      width: 100%;
      position: relative;

      & > img {
        width: 100%;
      }

      .services-content {
        position: relative;
        width: 100%;
        top: -25rem;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        .service {
          width: 100%;
          margin-left: 0rem;
          margin-top: 4rem;

          &:first-child {
            margin-left: 0;
          }
          div {
            width: 100%;
            min-height: 500px;
            background-color: #f4f4f4;
          }
        }
      }
    }
  }
}
